# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore model files and blobs
local_models/models--*/blobs/
local_models/models--*/snapshots/*/model.safetensors

# Exclude all models directories
**/models*

# Exclude all blobs directories within models directories
**/models*/**/*.blobs

# Exclude temporary file
tmp*

# Ignore temporary files
local_models/tmp*
local_models/*/tmp*/


# Ignore any other temporary or log files
*.tmp
*.log

# Ignore virtual environment directories
venv/
.env/
